---
layout: storyexample_3_sprachlos
fabricator: true
---

{{> navbar-bunt}}

<div class="container">
    <div class="row justify-content-center">
        <div class="story-hintergrund col-12">
        </div>
        <div class="story-hintergrund-cover col-lg-6 col-md-8 col-12">

            <div class="story-cover-3">
                <div class="story-cover-logo-1">
                </div>

                <div class="story-cover-box-1">


                    <div class="story-cover-box-autor-1-ohnesponsor">
                        Manuela Dörr
                    </div>
                    <div class="story-cover-box-titel-1klein">
                        Sprachlos studieren
                    </div>

                </div>
                <div class="story-cover-foto-autor-3">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="story-content">


    <div class="container col-lg-7 col-md-9 story-hintergrund-content">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="story-kapitel-zahl">
                    <span class="story-kapitel-zahl">Kapitel 1</span>
                </div>
                <div class="story-kapitel-titel">
                    <span class="story-kapitel-titel">Regenzeit</span>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="story-text">
                    <p>
                        Von der Universidad de Costa Rica ist unsere WG nur einen Katzensprung entfernt.
                    </p>
                    <p>
                        Luxuriöse Bedingungen verglichen mit den Busreisen, die andere Ticos auf sich nehmen.
                    </p>
                    <p>
                        Okay, dazu später mehr.
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="story-text">
                    <p>
                        Denn heute, ja ja, genau heute ist Anfang Juli – und das hat eine Bedeutung, die ich massiv
                        unterschätzt habe.
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="story-hervorhebung-1">
                    <h1>
                        <img src="https://media.giphy.com/media/EQIkgfMCjs1kk/giphy.gif"><br><br>
                        Ab heute ist alles anders!
                    </h1>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="story-dialog-abstand col-lg-6 col-md-8 col-11">
                <blockquote class="twitter-tweet"><p lang="de" dir="ltr">Cooles Reiseziel für Anfang August?
                    Ideen?
                    Costa Rica ist wegen Regenzeit raus.</p>&mdash; (er)lebt Ruhrgebiet. (@FraeuleinRuhr) <a
                        href="https://twitter.com/FraeuleinRuhr/status/883657185359781888?ref_src=twsrc%5Etfw">July
                    8,
                    2017</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <img class="story-bild-full"
                     src="/assets/toolkit/images/story-sprachlos-studieren/20140604170714_038.jpg">
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="story-text">
                    <p>
                        Der Saum meiner Jeans färbt sich drei Nuancen dunkler, aus meinen Turnschuhen blubbern
                        Luftblasen.<br>
                    </p>
                    <p>
                        Dabei bin ich lediglich von der Kunstfakultät bis zum ersten großen Baum auf dem Campus
                        gelaufen.
                        Zuerst noch langsam, und dann aber immer schneller.<br>
                        So schnell, dass ich alle anderen Studenten im Vollsprint überholt habe.
                    </p>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-12">
                <div class="story-twitter">
                    <blockquote class="twitter-tweet"><p lang="de" dir="ltr">Für alle, die denken, dass mein Leben
                        im
                        sonnigen Costa Rica immer traumhaft schön ist, habe ich ein Wort:&#13;REGENZEIT.</p>&mdash;
                        Fräulein
                        Bähm (@baehmshesaid) <a
                                href="https://twitter.com/baehmshesaid/status/738533760015044608?ref_src=twsrc%5Etfw">June
                            3, 2016</a></blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-12">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7zH1YUeed0I" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="story-text">
                    <p>
                        Es hilft alles nichts.<br>
                        Wer soll schon wissen, wann dieser Regen aufhört.
                    </p>
                    <p>
                        Also los!
                    </p>
                    <p>
                        Obwohl ich zickzack laufe, schaffe ich es nicht, den Wassermassen auszuweichen.
                    </p>
                    <p>
                        In der Ferne entdecke ich das Vordach der nächsten Fakultät und erkore es zu meinem
                        nächsten
                        Unterschlupf aus. <br>
                        Dort kann man die aktuelle Ausgabe des Semanarios, der Unizeitung, an der ich
                        mitarbeite,
                        erstehen.
                        Ich werfe
                        einen Blick hinein und verstaue sie ganz weit unten im Rucksack. Dort sollte sie trocken
                        bleiben.
                    </p>
                    <p>
                        Dann warte ich und erinnere mich an das Gespräch mit Maja.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 push-lg-5 col-10 push-2">
                <div class="story-dialog story-dialog-rechts">
                    <p>
                        Manu, wenn die Regenzeit anfängt, dann hast du die Wahl: Gummistiefel oder Sandalen ohne
                        Socken.<br>
                        Entweder du wirst komplett nass, oder wapnest dich zu 100%.
                    </p>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-11">
                <div class="story-dialog-abstand">

                    <blockquote class="twitter-tweet"><p lang="de" dir="ltr">Die Regenzeit in Costa Rica eskaliert
                        langsam.&#13;Ich
                        überlege, welcher Bikini am angemessensten ist, um zur Arbeit zu schwimmen.</p>&mdash;
                        Fräulein
                        Bähm
                        (@baehmshesaid) <a
                                href="https://twitter.com/baehmshesaid/status/744883453322133505?ref_src=twsrc%5Etfw">June
                            20, 2016</a></blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="story-hervorhebung-umfrage">
                    <div class="story-hervorhebung-text col-lg-10">
                        <h1>
                            Umfrage</h1><br>
                        <p style="color:#ffffff">
                            Sag mal, würdest du trotz Regenzeit in die Tropen reisen?<br><br>
                            -> Claro que si<br>
                            -> Non<br>
                            -> Ich würde mich erst informieren
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-12">
                <img class="story-bild-full"
                     src="/assets/toolkit/images/story-sprachlos-studieren/20140604170819_040.jpg">

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="story-hervorhebung-1">
                    <div class="story-hervorhebung-text col-lg-10">
                        <h3>
                            Die Ticos haben mehr Regenzeiterfahrung –<br>
                            Hier wartet niemand, das Leben geht weiter.
                        </h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="story-text">
                    <p>
                        Sie trotzen dem Regen und unterhalten sich, wie an jedem anderen Tag.
                    </p>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="story-text">
                    <p>
                        Pura vida!</p>
                    <p>
                        Niemand rennt, niemand hetzt, niemand eilt.
                    </p>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="story-text">
                    <p>
                        Ein Tico mit schwarzem Stockschirm versperrt mir den Weg.<br>
                        Ihr wisst, es schüttet wie aus ganzen Badewannen, aber er macht keine Anstalten, sich auch
                        nur
                        einen
                        Schritt zur Seite zu bewegen.</p>
                    <P>
                        Ich drängele mich vorbei, immer mit Blick auf den Abgrund neben mir.<br>
                        Warum macht er keinen Platz? Er hat doch gesehen, dass ich versuche, dem Regen zu entkommen,
                        ärgere
                        ich mich.
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <img class="story-bild-full"
                     src="/assets/toolkit/images/story-sprachlos-studieren/20140604171652_060.jpg">
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="story-text">
                    <p>
                        Noch sprinte ich.<br>
                        Quasi im Spagat springe ich über die zu Seen mutierten Schlaglöcher, deren Grund
                        unsichtbar ist.<br>
                        Viel schneller bin ich dadurch nicht, stelle ich bald fest.</p>
                    <p>Ganz im Gegenteil, ich lande öfters im Wasser, als mir lieb ist.</p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <iframe src="https://giphy.com/embed/MpO9uGEo5hiAU" width="480" height="320" frameBorder="0"
                        class="giphy-embed" allowFullScreen></iframe>
                <a href="https://giphy.com/gifs/MpO9uGEo5hiAU">via GIPHY</a>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="story-text">
                    <p>
                        Ich werde noch langsamer und schaue.
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="story-hervorhebung-2">
                    <div class="story-hervorhebung-text col-lg-10">
                        <h1>
                            Was soll's, wozu die Hetze?<br>
                            Nass bin ich sowieso.
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <img class="story-bild-full"
                     src="/assets/toolkit/images/story-sprachlos-studieren/20140604194322_113.jpg">
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-12">
                <div class="story-dialog-abstand">
                    <img class="story-bild-full col-lg-5 col-md-5 col-10"
                         src="/assets/toolkit/images/story-sprachlos-studieren/20140604193909_088.jpg">
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-12">
                <img class="story-bild-full"
                     src="/assets/toolkit/images/story-sprachlos-studieren/20140604193817_085.jpg">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="story-hervorhebung-1 col-12">
                    <div class="story-hervorhebung-text col-lg-10 col-md-10">
                        <h1>
                            „Sich so verhalten, wie die Leute, die an diesem Ort leben.“<br>
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <img class="story-bild-full"
                     src="/assets/toolkit/images/story-sprachlos-studieren/20140604194014_094.jpg">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="story-hervorhebung-2 col-12">
                    <div class="story-hervorhebung-text col-lg-10 col-md-10">
                        <h3>
                            Und dann sehe ich, wie auch andere stehen und schauen und warten.
                        </h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-12">
                <div class="story-dialog-abstand">
                    <img class="story-bild-full col-8"
                         src="/assets/toolkit/images/story-sprachlos-studieren/20140604194113_102.jpg">
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-12">
                <div class="story-dialog-abstand">
                    <img class="story-bild-full col-5"
                         src="/assets/toolkit/images/story-sprachlos-studieren/20140604194111_101.jpg">
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="story-text">
                    <p>
                        Der graue Asphalt wird zum Spiegel.<br>
                        Man kann hineintreten, ohne ihn zu zerstören.<br>
                        Ihn bewegen, verändern.
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <img class="story-bild-full"
                     src="/assets/toolkit/images/story-sprachlos-studieren/20140604170214_023.jpg">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="story-hervorhebung-1 col-12">
                    <div class="story-hervorhebung-text col-lg-10">
                        <h3>
                            San José öffnet seine Quellen und lässt Seen entspringen.
                            Die Straßen verwandeln sich in rauschende Bäche.
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="story-text">
                    <p>
                        Ich tauche meinen rechten Schuh in die Straßengräben. Die Zehenspitzen berühren den
                        Boden
                        nicht – so tief ist der Bach, der sich dort entlang schlängelt.</p>
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="story-dialog-abstand">
                    <img class="story-bild-full col-10"
                         src="/assets/toolkit/images/story-sprachlos-studieren/20140604170421_028.jpg">
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="story-text">
                    <p>
                        Das Wasser fließt in einer Eile, als ob es den deutschen Hetzern, zu denen auch ich
                        mich
                        zähle,
                        Konkurrenz machen wollte.
                    </p>
                    <p>
                        Es rinnt durch den Stoff meiner Hose und saugt sich die Hosenbeine hinauf, läuft im
                        Kreis um
                        mich
                        herum, tropft in Perlen vom Schirm herunter.
                    </p>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="story-text">
                    <p>
                        Und ich?
                    </p>
                    <p>
                        Ich stehe und fühle die Regenzeit.<br>
                        Und lasse mine Gedanken schweifen.
                    </p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6 push-lg-1 col-10">
                <div class="story-dialog story-dialog-links">
                    <p>
                        Wie ist es wohl jetzt auf dem Land?
                    </p>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="story-dialog-abstand col-lg-6 col-md-8 col-sm-12">
                <blockquote class="twitter-tweet"><p lang="de" dir="ltr">Costa Rica in der Regenzeit.
                    Ja, da
                    regnet
                    es.
                    Aber nicht die ganze Zeit. Der üppig grüne Regenwald birgt eine Fülle exotischer
                    Tieren und
                    Pflanzen
                    und lädt zum Entdecken ein. <a
                            href="https://twitter.com/hashtag/reiseideen?src=hash&amp;ref_src=twsrc%5Etfw">#reiseideen</a>
                    <a href="https://twitter.com/hashtag/costarica?src=hash&amp;ref_src=twsrc%5Etfw">#costarica</a>
                    <a
                            href="https://twitter.com/hashtag/peacelodge?src=hash&amp;ref_src=twsrc%5Etfw">#peacelodge</a>
                    <a href="https://twitter.com/hashtag/regen?src=hash&amp;ref_src=twsrc%5Etfw">#regen</a>
                    <a
                            href="https://twitter.com/hashtag/regenwald?src=hash&amp;ref_src=twsrc%5Etfw">#regenwald</a>
                    <a href="https://t.co/iVC5liRHhn">https://t.co/iVC5liRHhn</a> <a
                            href="https://t.co/VHfpEazVFR">pic.twitter.com/VHfpEazVFR</a>
                </p>&mdash; Stefanie Spengel (@My_own_Travel) <a
                        href="https://twitter.com/My_own_Travel/status/995099495930179584?ref_src=twsrc%5Etfw">May
                    12,
                    2018</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="story-text">
                    <p>
                        Manchmal kann man sich glücklich schätzen, wenn man sich die Reisezeit nicht
                        aussuchen kann
                        und
                        einen Ort zu einem fremdbestimmten Moment besucht.
                    </p>
                    <p>
                        Keine Wahl zu haben wird so zum Vorteil.<br>
                        Man entdeckt Neues – aber das brauche ich euch ja nicht zu
                        erzählen. &#128521;
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="story-text">
                    <p>
                        Regenzeit in Costa Rica ist ungemütlich <br>– sagen die einen</p>
                    <p>
                        Man solle diese Saison lieber meiden<br>– sagen die anderen</p>
                    <p>
                        Was sagt Instagram?<br>
                        Hier soll ein Tableau mit Instafotos erscheinen, aber das bekomme ich noch
                        nicht hin ->
                        #costaricarain
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <img class="story-bild-full"
                     src="/assets/toolkit/images/story-sprachlos-studieren/20140604195257_143.jpg">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="story-hervorhebung-umfrage col-12">
                    <div class="story-hervorhebung-text col-lg-10">
                        <h1>
                            Umfrage</h1><br>
                        <p>
                            Worüber soll ich als nächtes berichten?<br><br>
                            -> Natur (Button)<br>
                            -> Kultur (Button)<br>
                            -> Die Uni (Button)<br>
                            -> Spanisch lernen (Button)
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="story-hervorhebung-umfrage col-12">
                    <div class="story-hervorhebung-text col-lg-10">
                        <h1>
                            Oder hast du eine konkrete Frage?</h1>
                        <p>
                            (Formularfeld)<br><br></p>

                        <p>Bisher gefragt</p>
                        <p> -> Wie hast du Spanisch gelernt?<br>
                            -> Was machst du in Costa Rica?<br>
                            -> Wie war es im Hostel?
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row justify-content-center">
        <div class="col-12">
            <p>
                <br>
            </p>


            <div class="story-button">
                <div class="col-8 mt-1">
                    <a class="btn btn-primary" href="sprachlos-studieren-kapitel.html" role="button">
                        Kapitelübersicht
                    </a><br>
                </div>
            </div>


            <p>
                <br><br><br>
            </p>
        </div>

    </div>
</div>