<!doctype html>
<html lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{title}}</title>

	<script src="/{{#if baseurl}}{{ baseurl }}/{{/if}}assets/storyexample_3_sprachlos/scripts/jquery-3.4.1.min.js"></script>
	<script src="/{{#if baseurl}}{{ baseurl }}/{{/if}}assets/storyexample_3_sprachlos/scripts/story.js"></script>

	<!-- toolkit styles -->
	<link rel="stylesheet" class="style-iframe-import"  href="/{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/styles/toolkit.css">
	<link rel="stylesheet" class="style-iframe-import"  href="/{{#if baseurl}}{{ baseurl }}/{{/if}}assets/storyexample_3_sprachlos/styles/story.css">

	<!-- /toolkit styles -->

</head>
<body>


	{% body %}

</body>
</html>
