.story-background-image-sprachlos-studieren-1 {
    background-image: url("/assets/toolkit/images/story-sprachlos-studieren/20140604170214_023.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
}

.story-background-image-sprachlos-studieren-2 {
    background-image: url("/assets/toolkit/images/story-sprachlos-studieren/20140604170421_028.jpg");
    background-size: cover;
    background-position: center;
    height: 550px;
}

.story-background-image-sprachlos-studieren-3 {
    background-image: url("/assets/toolkit/images/story-sprachlos-studieren/20140604170714_038.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.story-background-image-sprachlos-studieren-4 {
    background-image: url("/assets/toolkit/images/story-sprachlos-studieren/20140604170819_040.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
}

.story-background-image-sprachlos-studieren-5 {
    background-image: url("/assets/toolkit/images/story-sprachlos-studieren/20140604171652_060.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
}

.story-background-image-sprachlos-studieren-6 {
    background-image: url("/assets/toolkit/images/story-sprachlos-studieren/20140604193817_085.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
}

.story-background-image-sprachlos-studieren-7 {
    background-image: url("/assets/toolkit/images/story-sprachlos-studieren/20140604193909_088.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
}

.story-background-image-sprachlos-studieren-8 {
    background-image: url("/assets/toolkit/images/story-sprachlos-studieren/20140604194014_094.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
}

.story-background-image-sprachlos-studieren-9 {
    background-image: url("/assets/toolkit/images/story-sprachlos-studieren/20140604194111_101.jpg");
    background-size: cover;
    background-position: center;
    height: 550px;
}

.story-background-image-sprachlos-studieren-10 {
    background-image: url("/assets/toolkit/images/story-sprachlos-studieren/20140604194113_102.jpg");
    background-size: cover;
    background-position: center;
    height: 1450px;
}

.story-background-image-sprachlos-studieren-11 {
    background-image: url("/assets/toolkit/images/story-sprachlos-studieren/20140604194322_113.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
}

.story-background-image-sprachlos-studieren-12 {
    background-image: url("/assets/toolkit/images/story-sprachlos-studieren/20140604194845_131.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
}

.story-background-image-sprachlos-studieren-13 {
    background-image: url("/assets/toolkit/images/story-sprachlos-studieren/20140604195257_143.jpg");
    background-size: cover;
    background-position: center;
    height: 1450px;
}
