
.story-hervorhebung-1 {
    background-color: #667F43;
    padding: 80px 10px 90px 10px;
    text-align: center;
    margin: 0 -15px 0 -15px;

    h1,h2,h3 {
    color: #ffffff;
    }
}

.story-hervorhebung-2 {
    background-color: #4E5C3F;
    padding: 80px 10px 90px 10px;
    text-align: center;

    h1,h2,h3 {
        color: #ffffff;
    }
}

.story-hervorhebung-3 {
    background-color: #4E5C3F;
    padding: 40px;

    h1,h2,h3 {
        color: #ffffff;
    }
}

.story-hervorhebung-umfrage {
    background-color: #4E5C3F;
    padding: 40px;
}

.story-hervorhebung-text {
    margin: 0 auto;

    h1,h2,h3,p {
        color: #ffffff;
    }
}