{{> navbar-bunt}}
{{> story-sprachlos-studieren.sprachlos-studieren-kapitel-hero}}

<div class="container w-100">


    <div class="row justify-content-center">
        <div class="story-overview-kasten-kante-background-orange col-lg-7 col-xl-6 col-12">
        </div>
    </div>


    <div class="row justify-content-center story-overview-background-orange">
        <div class="row justify-content-center story-overview-kasten-background-orange col-sm-8 col-md-5 col-lg-7 col-xl-6 col-12">

            <div class="col-lg-6 col-md-8 col-sm-10 col-12">


                <a class="story-cover-3">
                    <div href="sprachlos-studieren-chapter-1.html" class="story-cover-logo-1">
                    </div>

                    <div class="story-cover-box-1">
                        <div class="story-cover-box-autor-1-ohnesponsor">
                            Manuela Dörr
                        </div>
                        <div class="story-cover-box-titel-1klein">
                            Sprachlos studieren
                        </div>

                    </div>
                    <div class="story-cover-foto-autor-3">
                    </div>
                </a>

                <!----
                                <div class="story-overview-klappentext">
                                                        <p style="color: #FFFFFF; font-size: 13px; line-height: 14px"><br>Yeah, reTHINK Cyborg ist gerade kostenlos!<br>
                                                            Laura & Narrit werden nämlich von diesem Sponsor bezahlt:</p>
                                                        <p style="color: #FFFFFF"><b>Logo Sponsor "Hörgeräte"</b></p>
                                                        <p style="color: #FFFFFF; font-style: italic; font-size: 16px"> Hörgeräte<br>LustAmLeben<br>WomenInTech</p>
                                                        <p style="color: #FFFFFF; font-size: 13px; line-height: 14px"><br>Dafür ein fettes Dankeschön! *applaus*</p>
                                </div>
                / ---->

            </div>


            <div class="story-overview-klappentext col-lg-6 col-md-8 col-sm-10 col-10">
<p style="color: #FFFFFF">
    #CostaRica<br>
    #Auslandssemester<br>
    #Spanisch</p>

                <p style="color: #FFFFFF">
#Lateinamerika #Ticos #Zentralamerika #SprachenLernen #Auslandsjahr #Studieren #Fotografie #Visum #Tropen #Natur<br><br>
                </p>
                <!----
                                    <span style="color: #FFFFFF">
                                    Manuela studiert im vierten Semester Fotografie, als sie sich für ein Auslandssemester entscheidet:<br>
                                    In den Tropen leben, die lateinamerikanische Kultur erkunden und an einer der besten Unis Lateinamerikas studieren.<br><br>
                                    Sie überreicht dem International Office ihre Bewerbung, schlendert zurück nach Hause und streicht 'für Auslandssemester bewerben' von der Todo-Liste.<br>
                                    Die Zeit fliegt und schließlich auch ihr Flug.<br><br>
                                    In Costa Rica lebt sie erst im Hostel, dann wird ein Hund ihre Bezugsperson in der Gastfamilie, Heimweh geht reihum und die Austauschstudentin erlebt, was es bedeutet, alleine als Frau durch ein Land Mittelamerikas zu reisen.<br>
                                    Und dann ist da noch die fremde Sprache …<br><br><br></span>
                / ---->
                <p class="btn-group story-overview-btn-orange">
                    <a href="sprachlos-studieren-chapter-1.html" class="story-overview-btn-zahl-orange">1</a>
                    <a href="sprachlos-studieren-chapter-1.html" class="story-overview-btn-kapitel-orange">Regenzeit</a>
                </p>
            </div>

        </div>
    </div>

    <div class="row justify-content-center">
        <div class="story-overview-kante-unten-background-orange col-12">
        </div>
    </div>

</div>